{# Comments #}
<h1>{{ header }}</h1>
{% if(text != null) %}
<p>{{text}}</p>
{% endif %}
{% if (text == null) %}
<p>No text</p>
{% endif %}
{% if text == null %}
<p>Still no text</p>
{% endif %}
{% if text != null %}
<p>More: {{ text }}</p>
{% endif %}
<p>Template text above uses {\{text}}</p>
<h3>{{list.header}} - Manual</h3>
<ul>
	<li>{{list.elements.0}}</li>
	<li>{{list.elements.1}}</li>
	<li>{{list.elements.2}}</li>
</ul>
<h3>{{list.header}} - Loop Function From Config</h3>
<ul>
	{{{ loop(list.elements); }}}
</ul>
<p>1 + 1 = {{{ 1 + 1 }}} ({{\{ 1 + 1 }}})</p>
<p>10 + 5 = {{{ testVal += 3; testVal + 2; }}} ({{\{ testVal += 3; testVal + 2; }}})</p>
<p>10 + 3 = {{{ testVal }}} ({{\{ testVal }}})</p>
<p>testVal before: {{ testVal }} ({\{ testVal }}, notice how these values in {\{ }} are pre-rendered safely before code execution)</p>
<p>testVal after: {{{ testVal }}} ({{\{ testVal }}})</p>
<p>More if statements (using {\% if %}):</p>
<p>If, else if, else if, else</p>
{% if statement == 0 %}
<p>if: 0 (real {{statement}})</p>
{% elseif(statement == 1) %}
<p>elseif: 1 (real {{statement}})</p>
{% elseif (statement == 2) %}
<p>elseif: 2 (real {{statement}})</p>
{% else %}
<p>else: {{ statement }}</p>
{% endif %}
-------------------------------
<p>If, else if, else if, else</p>
{% if statement1 == 0 %}
<p>if: 0 (real {{statement1}})</p>
{% elseif(statement1 == 1) %}
<p>elseif: 1 (real {{statement1}})</p>
{% elseif (statement1 == 2) %}
<p>elseif: 2 (real {{statement1}})</p>
{% else %}
<p>else: {{ statement1 }}</p>
{% endif %}
-------------------------------
<p>If, else if, else if, else</p>
{% if statement2 == 0 %}
<p>if: 0 (real {{statement2}})</p>
{% elseif(statement2 == 1) %}
<p>elseif: 1 (real {{statement2}})</p>
{% elseif (statement2 == 2) %}
<p>elseif: 2 (real {{statement2}})</p>
{% else %}
<p>else: {{ statement2 }}</p>
{% endif %}
-------------------------------
<p>If, else if, else if, else</p>
{% if statement3 == 0 %}
<p>if: 0 (real {{statement3}})</p>
{% elseif(statement3 == 1) %}
<p>elseif: 1 (real {{statement3}})</p>
{% elseif (statement3 == 2) %}
<p>elseif: 2 (real {{statement3}})</p>
{% else %}
<p>else: {{ statement3 }}</p>
{% endif %}
-------------------------------
<p>If, else</p>
{% if statement4 == 0 %}
<p>if: 0 (real {{statement4}})</p>
{% else %}
<p>else: {{ statement4 }}</p>
{% endif %}
-------------------------------
<p>If, else</p>
{% if statement5 == 6 %}
<p>if: 6 (real {{statement5}})</p>
{% else %}
<p>else: {{ statement5 }}</p>
{% endif %}
-------------------------------
<p>If, else if</p>
{% if statement6 == 8 %}
<p>if: 8 (real {{statement6}})</p>
{% elseif(statement6 == 7) %}
<p>elseif: 7 (real {{statement6}})</p>
{% endif %}
-------------------------------
<p>If, else if</p>
{% if statement7 == 8 %}
<p>if: 8 (real {{statement7}})</p>
{% elseif(statement7 == 7) %}
<p>elseif: 7 (real {{statement7}})</p>
{% endif %}